/******************************************************************/
/*=============== TABLE DES MATIÈRES =============================*/
/******************************************************************/
/*   1. POLICES LOCALES                                           */
/*   2. INTERFACE UTILISATEUR GÉNÉRALE                            */
/*   3. BARRE LATÉRALE                                            */
/*   4.1. ACTOR: FEUILLE PJ                                       */
/*   4.2. ACTOR: FEUILLE PNJ                                      */
/*   4.3. ACTOR: FEUILLE HUMANOÏDE                                */
/*   4.4. ACTOR: FEUILLE ANIMAL                                   */
/*   4.5. ACTOR: FEUILLE ENTITÉ INC                               */
/*   4.6. ACTOR: FEUILLE ENTITÉ NON INCARNÉE                      */
/*   5.1. ITEM: FEUILLE ÉQUIPEMENT                                */
/*   5.2. ITEM: FEUILLE CONTENANT                                 */
/*   5.3. ITEM: FEUILLE NOURRITURE                                */
/*   5.4. ITEM: FEUILLE BOISSON                                   */
/*   5.5. ITEM: FEUILLE HERBE DE SOIN                             */
/*   5.6. ITEM: FEUILLE HERBE DIVERSE                             */
/*   5.7. ITEM: FEUILLE REMÈDE                                    */
/*   5.8. ITEM: FEUILLE SEL ALCHIMIQUE                            */
/*   5.9. ITEM: FEUILLE ARME DE MÊLÉE                             */
/*   5.10. ITEM: FEUILLE ARME À DISTANCE                          */
/*   5.11. ITEM: FEUILLE ARMURE                                   */
/*   5.12. ITEM: FEUILLE GEMME                                    */
/*   5.13. ITEM: FEUILLE COMPÉTENCE                               */
/*   6. LISTE DES JOUEURS                                         */
/*   7. BARRE DE NAVIGATION                                       */
/*   8. CONTRÔLES DE LA SCÈNE                                     */
/*   9. PARAMÊTRES DU JEU                                         */
/*   10. DIALOGUE DE LANCER                                       */
/*   11. HOTBAR                                                   */
/*   12. FENÊTRES DE JEU DIVERSES                                 */
/******************************************************************/
/******************************************************************/

/******************************************************************/
/*=============== 2. INTERFACE UTILISATEUR GÉNÉRALE  =============*/
/******************************************************************/

/* ============== COULEUR ======================================= */
@erreur-color: #550000;
@info-color: blue;
@info-color-shadow: fade(@info-color, 33%);
@contraste-color: #782e22;

/* ============== ONGLETS ======================================= */
.RdD .content {
	height: calc(100% - 450px);
	.tab {
		height: 100%;
	}
}

.RdD .tabs {
	margin: 3px 0 0 0;
	.item.active {
	text-shadow: none;
	border-bottom: 2px solid @contraste-color;
	}
}

/* ============== TINY MCE EDITOR =============================== */
.RdD {
	.editor,
	.editor-content {
		width: 100%;
		height: 100%;
	}
}

/* ============== ZONES DE SAISIE ================================ */
.RdD .erreur {
	background-color: fade(@erreur-color, 33%);
}

.RdD form a {
	&:hover {
		text-shadow: none;
		color: @contraste-color;
	}
}

.RdD button:hover {
	box-shadow: 0 0 5px @info-color;
}

.RdD input[type="number"] {
	width: 6ch;
}
.RdD input[type="datetime-local"], input[type="number"], input[type="password"], input[type="text"], select {
	&:focus {
		box-shadow: 0 0 5px @info-color;
	}
}

/******************************************************************/
/*=============== 4.1. ACTOR: FEUILLE PJ  ========================*/
/******************************************************************/

/* ============== EN-TÊTE ======================================= */
.RdD.feuille.actor.pj .en-tête-feuille {
	display: flex;
	flex-flow: column;
	border-bottom: 1px solid black;
    padding: 0 0 3px 0;
	.grpSignesPart {
		padding: 0 0 5px 0;
	}
	.id-perso {
		display: flex;
		flex-flow: row;
		align-content: flex-start;
		align-items: flex-start;
	}
	.vignette {
		object-fit: contain;
		margin: 0 5px 0 0;
	}
	.nom-perso {
		flex: auto;
	}
}

.RdD.feuille.actor.pj #cheveux, #yeux {
	width: 8em;
}

/* ============== ONGLET COMPÉTENCES ============================== */
.RdD.feuille.actor.pj .tab[data-tab="compétences"]{
	ul li{
		display: grid;
		grid-template-columns: 4ch 18ch 5ch 5ch 3ch 8ch 4ch 4ch;
		grid-template-rows: minmax(20px, auto);
		div.cptc-spécialité {
			grid-area: 2 / 2 / 2 / 3;
			font-style: italic;
		}
	}
	ul li.cptc-draconic {
		grid-template-rows: minmax(20px, auto) minmax(20px, auto);
		div.ptSort {
			grid-area: 2 / 4 / 2 / 6;
		}
	}
}

/* ============== ONGLET HAUT-RÊVE ============================== */
.RdD.feuille.actor.pj #TMRCol {
	width: 5ch;
}

/* ============== ONGLET INVENTAIRE ============================= */
.RdD.feuille.actor.pj #argent {
	width: 7ch;
}

/******************************************************************/
/*=========== 5.13. ITEM: FEUILLE COMPÉTENCE  ====================*/
/******************************************************************/

/* ============== EN-TÊTE ======================================= */
.RdD.feuille.item .en-tête-feuille {
	display: flex;
	flex-flow: column;
	border-bottom: 1px solid black;
    padding: 0 0 3px 0;
	.id-objet {
		display: flex;
		flex-flow: row;
		align-content: flex-start;
		align-items: flex-start;
	}
	.vignette {
		object-fit: contain;
		margin: 0 5px 0 0;
	}
	.nom-objet {
		flex: auto;
	}
}

/* ============== DESCRIPTION DE LA COMPÉTENCE ================== */

.RdD.feuille.item .description {
	height: 120px;
}

/* ============== ALIGNEMENT DES RUBRIQUES ====================== */
.RdD.feuille.item .alignement {
	display: grid;
	grid-template-columns: 11ch 5ch;
}