<form class="{{cssClass}}" autocomplete="off">
	<header class="en-tête-feuille">
		<div class="id-objet">
			<img class="vignette" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
			<h1 class="nom-objet">{{item.name}}</h1>
		</div>
		<div>
			{{localize 'RdD.item.compétence.type'}}&nbsp;: {{data.type}}	
		</div>
	</header>
	
	{{!-- Description de la compétence --}}
	<fieldset class="description">
		<legend>{{localize 'RdD.item.description'}}</legend>
		{{editor content=data.description.value target="data.description.value" button=true owner=owner editable=editable}}
	</fieldset>
	
	{{!-- Spécialité éventuelle de la compétence --}}
	{{#if data.spécialisable}}
	<div>
		<label for="spécialité">{{localize 'RdD.item.compétence.spécialité'}}</label>
		<input type="text" id="spécialité" name="data.spécialité" value="{{data.spécialité}}">
	</div>
	{{/if}}
	
	
	{{!-- Vocation --}}
	<div class="alignement">
		{{#if (ne data.type "draconic")}}
		<label for="vocation">{{localize 'RdD.item.compétence.vocation'}}</label>
		<input type="checkbox" name="data.vocation" {{checked data.vocation}}>
		{{/if}}
	</div>
	
	{{!-- Niveau --}}
	<div class="alignement">
		<label for="niveau">{{localize 'RdD.item.compétence.niveau'}}</label>
		<input type="number" id="niveau" name="data.value" value="{{data.value}}">
	</div>
	
	{{!-- Expérience --}}
	<div class="alignement">
		<label for="xp">{{localize 'RdD.item.compétence.ptExpérience'}}</label>
		<input type="number" id="xp" name="data.xp" value="{{data.xp}}">
	</div>
	
	{{!-- Archétype --}}
	<div class="alignement">
		<label for="archétype">{{localize 'RdD.item.compétence.archétype'}}</label>
		<input type="number" id="archétype" name="data.archétype" value="{{data.archétype}}">
	</div>
	
	{{!-- Points de sort si applicable --}}
	{{#if (eq data.type "draconic")}}
	<div class="alignement">
		<label for="ptSort">{{localize 'RdD.item.compétence.ptSort'}}</label>
		<input type="number" id="ptSort" name="data.ptSort" value="{{data.ptSort}}">
	</div>
	{{/if}}


</form>
